#
# Copyright (c) 2019-2020 Yao Wei Tjong. All rights reserved.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#

---

name: DBE builder
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  base:
    name: Project
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: [urho3d]
    env:
      tag: weitjong/dockerized:${{ matrix.project }}-base
    steps:
      - uses: actions/checkout@v2        
      - name: Build
        run: docker build -t $tag ${{ matrix.project }}/_base
      - name: Push
        if: github.event_name == 'push'
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} |docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push $tag
          if [[ '${{ matrix.project }}' == 'urho3d' ]]; then
            urho3d_tag=urho3d/dockerized
            docker tag $tag $urho3d_tag
            docker push $urho3d_tag
          fi
          docker logout
  platform:
    name: Platform
    needs: base
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: [urho3d]
        platform: [linux, mingw, android, web]
        include:
          - {project: urho3d, platform: rpi, chroot: chroot}
          - {project: urho3d, platform: arm, chroot: chroot}
    env:
      tag: weitjong/dockerized:${{ matrix.project }}-${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          if [[ '${{ matrix.chroot }}' ]]; then
            sudo apt-get update
            sudo apt-get install -y --no-install-recommends qemu-user-static
            sudo apt-get clean
          fi
          docker build -t $tag ${{ matrix.project }}/${{ matrix.platform }}
      - name: Push
        if: github.event_name == 'push'
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} |docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push $tag
          if [[ '${{ matrix.project }}' == 'urho3d' ]]; then
            urho3d_tag=urho3d/dockerized-${{ matrix.platform }}
            docker tag $tag $urho3d_tag
            docker push $urho3d_tag
          fi
          docker logout

...

# vi: set ts=2 sw=2 expandtab:
